.header {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 100;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__row {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header__logo {
  margin: 5px 0 0 6px;
  position: relative;
  z-index: 10;
}

.logo_link {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-transform: none;
}

.menu-header {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.menu-header__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3px 0 0 11.8%;
}

.menu-header__item {
  margin: 0 37px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 992px) {
  .menu-header__list {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header__container {
    margin: 0 12px;
  }

  .header__row {
    padding: 18px 0;
  }

  .header__logo {
    margin: 0 0 0 24px;
  }

  .menu-header__list {
    flex: 0 0 60%;
    flex-direction: column;
    align-items: flex-start;

  }

  .menu-header__item {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 768px) {
  .menu-header__item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #4CB649;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
  }

  .menu-header__item:hover.menu-header__item::before {
    opacity: 1;
    visibility: visible;
    transition: all .6s ease;
  }
}

.menu-header__item:last-child {
  margin: 0;
}

.menu-header__link {
  color: #323642;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

.menu-header__arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #323642;
  cursor: pointer;
  position: relative;
  transform: translate(6px, -1px);
}

.header__authorization {
  position: relative;
  transform: translateX(136px);
  z-index: 10;
}

.header__login {
  padding: 10px 20px;
  margin: 0 9px 0 0;
}

.header__started {
  color: #ffffff;
  background: linear-gradient(to top, #4CB649, #5DDF5A);
  padding: 10px 31px;
  border: none;
}

@media (max-width: 768px) {
  .header__authorization {
    transform: translateX(0);
  }

  .header__started {
    padding: 10px 14px;
  }

  .header__login {
    align-self: center;
    margin: 16px 0 0 0;
  }
}

/*MENU+BURGER-----------------------------------------------------------*/
@media (max-width: 768px) {
  .menu-header {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    z-index: 7;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 0 50px 30px;
    background: #F5F5F5;
    transition: all .8s ease;
    flex-direction: column;
  }

  .menu-header.active {
    left: 0;
    transition: all .3s ease;
  }
}

/*BURGER------------------------------------------------------------*/
#burger-menu {
  display: none;
}

@media (max-width: 768px) {
  #burger-menu {
    display: block;
    background: transparent;
    flex: 0 0 24px;
    height: 16px;
    position: relative;
    z-index: 15;
    right: 0;
    top: 0;
  }

  #burger-menu span {
    width: 100%;
    height: 2px;
    background: #22252E;
    position: absolute;
    left: 0px;
    transition: all .5s ease;
  }

  #burger-menu span:first-child {
    top: 0;
  }

  #burger-menu span:nth-child(2) {
    top: 7px;
  }

  #burger-menu span:last-child {
    bottom: 0;
  }

  #burger-menu.open span:first-child {
    top: 7px;
    transform: rotate(225deg);
  }

  #burger-menu.open span:nth-child(2) {
    transform: rotateX(90deg);
  }

  #burger-menu.open span:last-child {
    top: 7px;
    transform: rotate(-225deg);
  }
}