.posts__aside {
  flex: 0 1 33.333%;
  padding: 0 0 0 59px;
  display: flex;
  flex-direction: column;
}

.info-aside__form {}

.info-aside__input {
  padding: 15px 0 15px 58px;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  color: #22252E;
  width: 100%;
  background: url(../img/icons/search.png) no-repeat 20px 21px;
}

.info-aside__item {
  padding: 43px 0 16px 0;
  border-bottom: 1px solid #EBECED;
}

.info-aside__subtitle {
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 35px 0;
  padding: 0 0 0 82px;
  position: relative;
}

.info-aside__subtitle::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 50px;
  height: 52px;
  background: url(../img/posts-aside/announcement_01.png);
}

.info-aside__item+.info-aside__item .info-aside__subtitle::before {
  background: url(../img/posts-aside/announcement_02.png);
}

.info-aside__list li {
  padding: 0 0 0 7px;
  margin: 0 0 16px 0;
  position: relative;
}

.info-aside__list li::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4CB649;
  left: 0;
  top: 10px;
}

.info-aside__link {
  color: #323642;
  line-height: 22px;
}