.posts__row {
  display: flex;
  justify-content: space-between;
}

.posts__title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 300;
  color: #22252E;
  margin: 0 0 40px 0;
}

.posts__input {
  padding: 15px 0 15px 58px;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  color: #22252E;
  width: 340px;
  background: url(../img/icons/search.png) no-repeat 19px 19px;
}

@media (max-width: 768px) {
  .posts__row {
    flex-direction: column;
  }

  .posts__form {
    margin: 0 -10px;
  }

  .posts__title {
    order: 2;
    margin: 39px 0;
  }

  .posts__input {
    order: 1;
    width: 100%;
  }
}

.posts__body {
  display: flex;
  justify-content: space-between;
  margin: 0 0 78px 0;
  align-items: flex-start;
}

.posts__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
  border-right: 1px solid #EBECED;
}

.posts__item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #EBECED;
}

.posts__item:nth-child(3) {
  margin: 0 0 39px 0;
  padding: 0 0 30px 0;
}

.post__img {
  flex: 0 0 38%;
  position: relative;
  padding: 0 0 24.3% 0;
}

.post__content {
  flex: 0 1 auto;
  padding: 0 0 0 40px;
}

.post__text {
  color: #22252E;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  margin: 0 0 7px 0;
}

.post__info {
  display: flex;
  line-height: 22px;
}

.post__creator {
  color: #323642;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.post__date {
  color: #889099;
}

.post__copiright {
  margin: 8px 0 12px;
  text-transform: uppercase;
  color: #4CB649;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .5px;
}

.post__comment {
  color: #889099;
  line-height: 22px;
  position: relative;
  margin: 0 0 23px 0;
  padding: 0 0 0 29px;
}

.post__comment::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 14px;
  height: 12px;
  background: url(../img/icons/comment.png);
}

.post__btn {
  padding: 10px 81px;
  align-self: center;
  margin: 11px 0 0 42px;
}

@media (max-width: 768px) {
  .posts__body {
    flex-direction: column;
    margin: 0 0 70px 0;
  }

  .posts__items {
    padding: 0;
    border: none;
  }

  .posts__item {
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 20px 0;
    padding: 0 0 32px 0;
  }

  .posts__item:nth-child(4),
  .posts__item:nth-child(5),
  .posts__item:nth-child(6) {
    display: none;
  }

  .post__img {
    flex: 1 1 100%;
    padding: 0 0 63.4% 0;
    margin: 0 0 19px 0;
  }

  .post__content {
    padding: 0;
  }

  .post__text {
    margin: 0 0 14px 0;
  }

  .post__comment {
    margin: 0;
  }

  .post__comment::before {
    display: none;
  }

  .post__btn {
    margin: 30px 0 0 0;
  }
}