.prising {
  background: linear-gradient(to top, #3D4251, #272B35);
}

.prising__title {
  padding: 100px 0 60px;
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.prising__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .prising__body {
    flex-direction: column;
  }
}

.prising__item {
  flex: 0 0 33.333%;
  margin: 11px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #EBECED;
}

.prising__item_center {
  margin: 0 10px;
  border-radius: 4px;
  border: 4px solid #4CB649;
}

.prising__playment {
  text-transform: uppercase;
  padding: 48px 0 30px;
  color: #323642;
  font-weight: 500;
  line-height: 18px;
  position: relative;
}

.prising__playment_center {
  padding: 59px 0 30px;
}

.prising__playment::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  background: #4CB649;
}

.prising__price {
  color: #22252E;
  display: flex;
  justify-content: center;
  position: relative;
  /* padding: 0 0 35px 0; */
}

.prising__price::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;
  background: #EBECED;
}

.icon-dolar {
  font-size: 24px;
  position: relative;
}

.icon-dolar::before {
  top: 14px;
  left: 0;
  position: absolute;
}

.prising__price_value {
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -1.5px;
  padding: 0 0 0 24px;
}

.prising__price_text {
  font-size: 24px;
  line-height: 32px;
  align-self: flex-end;
}

.prising__description {
  padding: 35px 0 0 0;
  color: #323642;
  line-height: 22px;
}

.prising__description_first {
  padding: 46px 0 30px;
}

.prising__price_old {
  color: #F24458;
  text-decoration: line-through;
  margin: 0 8px 0 0;
}

.prising__save {
  margin: 4px 0 15px;
  font-weight: 700;
  line-height: 22px;
  color: #323642;
}

.prising__btn {
  padding: 11px 73px 9px;
  margin: 0 0 40px 0;
}

.prising__btn_center {
  background: linear-gradient(to top, #4CB649, #5DDF5A);
  border: none;
  color: #ffffff;
  margin: 0 0 59px 0;
}

.ways-pay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 31px 0 10px;
}

.ways-pay p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 30px 0 0;
}

.ways-pay__item {
  margin: 0 30px 0 0;
}

.ways-pay__item img {
  max-width: 100%;
  object-fit: cover;
}

.prising__links {
  display: flex;
  justify-content: center;
  padding: 0 0 57px 0;
}

@media (max-width: 768px) {
  .prising__links {
    flex-direction: column;
  }
}

.prising__link {
  text-transform: uppercase;
  color: #4CB649;
  line-height: 18px;
  letter-spacing: .8px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 0 32px 0 0;
}

.prising__link:first-child {
  margin: 0 44px 0 0;
}

.prising__link::before {
  position: absolute;
  right: 0;
  font-family: 'icomoon';
  transform: rotate(90deg);
}