.warning {
  background: #22252E;
  position: relative;
  z-index: 10;
}

.warning.close {
  display: none;
}

.warning__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.warning__row {
  display: flex;
}

.warning__row_left {
  margin: 0 32px 0 0;
  justify-content: flex-end;
}

.warning__item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #889099;
  position: relative;
}

.warning__attention {
  padding: 0 0 0 20px;
  margin: 0 32px 0 0;
  font-weight: 700;
  color: #FF8D00;
}

.warning__attention::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 19px;
  background: url(../img/icons/alert.png);
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
}

.warning__item_more {
  margin: 0 0 0 32px;
}

.warning__link {
  color: #FFFFFF;
  transition: all .6s ease;
}

.warning__link:hover {
  color: #FF8D00;
  transition: all .6s ease;
}

.warning__close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 14px;
}

.warning__close span {
  position: absolute;
  background: #889099;
  height: 2px;
  width: 15px;
  top: 7px;
  left: 0;
}

.warning__close span:first-child {
  transform: rotate(45deg);
}

.warning__close span:last-child {
  transform: rotate(-45deg);
}

@media (max-width:768px) {
  .warning__body {
    padding: 12px 38px 3px 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .warning__row {
    flex-direction: column;
  }

  .warning__row_right {
    align-items: flex-end;
  }

  .warning__row_right .warning__item:first-child {
    order: 2
  }

  .warning__row_right .warning__item:last-child {
    padding: 0 9px 0 0;
    order: 1;
  }

  .warning__item {
    margin: 0 0 9px 0;
  }
}